<!doctype html>
<html ng-app="instantSearch">
  <head>	
	<meta charset="utf-8" />
    <meta name="author" content="Boobs and more" />
    <title>Movie Boob Rating</title>
    <meta name="description" content="Boobs and more movie reviews">

    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  
	<script src="js/angular.min.js"></script>
    <script src="js/ui-bootstrap-tpls-0.13.0.js"></script>
	<script src="js/angular-mongolab.js"></script>
	<script src="js/angular-cookies-1.0.0rc10.js"></script>
	
	<script src="js/app.js"></script>
    <script src="js/controllersMain.js"></script>
	
	<!-- add styles -->
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    
  </head>
  <body>
	<h1>Movie Boob Rating</h1>
    <div class="container" ng-controller="TabsCtrl">
        <div class="row">
            <div class="col-md-12"> 
              <tabset>    
                  <tab ng-repeat="tab in tabs" ng-model="tab" heading="{{tab.title}}" active="tab.active" disable="tab.disabled">  
                      <div ng-include src="tab.url"> </div>
                    </tab>
              </tabset>
          </div>
        </div>
    </div>
  </body>
</html>
