<html>
<head>
</head>
<body>	
	<!-- Initialize a new AngularJS app and associate it with a module named "instantSearch"-->
	<div ng-controller="InstantSearchController">		
		<div class="bar">
			<input type="text" ng-keyup="searchMovies()" ng-model="searchString" placeholder="Enter your search terms" />
		</div>

		<ul>
			<li ng-repeat="i in items">
				<a target="_new" href="{{i.url}}"><img ng-src="{{i.image}}" /></a>
				<p>{{i.title}}</p>
				<div class="boobsWrapper">
					<div ng-repeat="n in [] | range:i.votes">
						<img src="images/boobsOriginal.png" alt='Remove a Boob' title='Remove a Boob' class="boobies" ng-click="Vote($event)"/>
					</div>
					<div ng-repeat="n in [] | rangeNoBoobs:i.votes">
						<img src="images/boobsOriginal.png" alt='Add a Boob' title='Add a Boob' class="boobies no_boobies" ng-click="Vote($event)"/>
					</div>
				</div>
			</li>
		</ul>
	</div>
</body>
</html>